@import "tailwindcss";

@layer base {
  body {
    @apply antialiased;
  }
}

@layer components {
  .btn {
    @apply bg-blue-500 text-white px-4 py-2 rounded-md;
  }
  
  .container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}

/* Popup için yukarı kayma animasyonu */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 0.3s ease-out forwards;
}

/* Popup için zoom animasyonu (yeni eklendi) */
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-zoomIn {
  animation: zoomIn 0.2s ease-out forwards;
}

/* Kaydırma çubuğunu gizlemek için */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE ve Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari ve Opera */
}

/* Modal arkaplanı için geçiş animasyonu */
@keyframes fadeInBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeInBg {
  animation: fadeInBg 0.2s ease-out forwards;
}

/* Uzun süreli geçişler için */
.duration-2000 {
  transition-duration: 2000ms;
}
